#landing {
	position: relative;
}

#landing::after {
	background: url(../assets/Vectorwave1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
  height: 100vh;
  left: 0;
	top: 0;
  position: absolute;
	z-index: -1;
  width: 100vw;
}

.landing__container {
	display: flex;
	align-items: center;
	height: calc(80vh - 100px);
}

.landing__content {
	width: 50%;
}

.landing__title {
	font-size: 48px;
	line-height: 1.3;
}

.landing__para {
	width: 63%;
	line-height: 1.8;
	margin-top: 24px;
}

.landing__button {
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	background-color: #4C40F7;
	padding: 16px 36px;
	border-radius: 10px;
	box-shadow: -5px 8px 25px rgba(76, 64, 247, 0.39);
	display: flex;
	align-items: center;
	margin-top: 24px;
}

.btn__arrow {
	font-size: 16px;
	margin-left: 12px;
}

.landing__img--container {
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}


.landing__img {
	position: absolute;
	right: 0;
	height: 100%;	
}

@media (max-width: 1280px) {
	.landing__img {
		height: 88%;	
	}	
}

@media (max-width: 1080px) {
	.landing__img {
		height: 75%;	
	}	
}

@media (max-width: 960px) {
	.landing__container {
		flex-direction: column;
		height: 100vh;
	}
	.landing__content {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 42px;
	}
	.landing__title {
		font-size: 32px;
	}
	.landing__img--container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.landing__img {
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
}




