@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url(./css/nav.css);
@import url(./css/landing.css);
@import url(./css/services.css);
@import url(./css/documenation.css);
@import url(./css/achievement.css);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #fcfcfc;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

p {
	color: #6B6B6B;
	font-size: 18px;
}

button {
	border: none;
}

.flex {
	display: flex;
}

.container {
	padding: 100px 0;
}

.row {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 12px;
}

.section__title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	margin-top: 32px;
}

.section__sub-title {
	text-align: center;
	color: #FF2D59;
	font-weight: 600;
}